@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  animation: headerScroll 1s linear;
  animation-fill-mode: both;
  animation-timeline: scroll();
}

@keyframes headerScroll {
  to {
    padding-bottom: 20px;
  }
}
